<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<body>
<h1>Employers</h1>
<a href="/employer/add">Thêm nhà tuyển dụng</a></br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employer, iStat:${employers}">
        <th scope="row" th:text="${iStat.index} +1"></th>
        <td> <a th:href="|/employer/${employer.id}|" th:text="${employer.name}"></a></td></td>
        <td th:text="${employer.email}"></td>
    </tr>
    </tbody>
</table>
</body>
</body>
</html>